autostart/
balena-etcher/
bcompare/
BetterDiscord/
Bitwarden/
btop/
cef_user_data/
Code/
dconf/
discord/
font-manager/
fontconfig/
Foxit Software/
github-copilot/
GitKraken/
google-chrome/
JetBrains/
lvim/
menus/
nano/
neofetch/
obsidian/
pulse/
qBittorrent/
ristretto/
rofi/
spotify/
systemd/
Thunar/
vlc/
volumeicon/
xed/
xfce4/
yay/
EOS-greeter.conf
eos-update-notifier.first_init
mimeapps.list
pavucontrol.ini
QtProject.conf
reflector-simple-free-params.txt
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf

