balena-etcher/
bcompare/
BetterDiscord/
btop/
cef_user_data/
Code/
dconf/
discord/
font-manager/
fontconfig/
Foxit Software/
github-copilot/
GitKraken/
google-chrome/
Jetbrains/
lvim/
menus/
nano/
neofetch/
obsidian/
pulse/
qBittorrent/
ristretto/
spotify/
systemd/
Thunar/
vlc/
volumeicon/
xed/
xfce4/
yay/
